.env
*.env
*.env.*
.DS_Store
Thumbs.db
*.log
logs/
tmp/
temp/
.cache/

node_modules/
dist/
build/
.vite/
coverage/

bin/
obj/
**/bin/
**/obj/
*.user
*.suo
*.csproj.user
publish/
out/

.vs/
.vscode/
.idea/
.trae/