--
-- PostgreSQL database dump
--

\restrict AedlXQJeIn1mBIwKKU20pFBb8XM34ERbP884BrzlaZpURdtmNbBws6gyLNrWoHK

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO admin;

--
-- Name: aulas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.aulas (
    "Id" integer NOT NULL,
    "ColegioId" integer NOT NULL,
    "Nombre" text NOT NULL,
    "Grado" text,
    "ProfesorId" integer,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.aulas OWNER TO admin;

--
-- Name: aulas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.aulas ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."aulas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bancos_preguntas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.bancos_preguntas (
    "Id" integer NOT NULL,
    "Nombre" text NOT NULL,
    "Alcance" text NOT NULL,
    "ColegioId" integer,
    "CreadorId" integer,
    "Activo" boolean NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.bancos_preguntas OWNER TO admin;

--
-- Name: bancos_preguntas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.bancos_preguntas ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."bancos_preguntas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bancos_preguntas_items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.bancos_preguntas_items (
    "Id" integer NOT NULL,
    "BancoId" integer NOT NULL,
    "PreguntaId" integer NOT NULL
);


ALTER TABLE public.bancos_preguntas_items OWNER TO admin;

--
-- Name: bancos_preguntas_items_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.bancos_preguntas_items ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."bancos_preguntas_items_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: colegios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.colegios (
    id_colegio integer NOT NULL,
    nombre_ie character varying(160) NOT NULL,
    distrito character varying(80),
    email_institucional character varying(256),
    fecha_registro timestamp with time zone DEFAULT now() NOT NULL,
    codigo_local character varying(12),
    direccion character varying(180),
    estado character varying(20) DEFAULT 'activo'::character varying NOT NULL,
    nivel character varying(20) DEFAULT ''::character varying NOT NULL,
    telefono character varying(20),
    direccion_exacta character varying(240),
    distrito_id integer,
    CONSTRAINT "CK_colegios_estado" CHECK (((estado)::text = ANY ((ARRAY['activo'::character varying, 'inactivo'::character varying])::text[]))),
    CONSTRAINT "CK_colegios_nivel" CHECK (((nivel)::text = ANY ((ARRAY['primaria'::character varying, 'secundaria'::character varying, 'primaria_secundaria'::character varying])::text[])))
);


ALTER TABLE public.colegios OWNER TO admin;

--
-- Name: colegios_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.colegios ALTER COLUMN id_colegio ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."colegios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consumos_agregados; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.consumos_agregados (
    "Id" integer NOT NULL,
    "ColegioId" integer NOT NULL,
    "AulaId" integer,
    "EspacioId" integer,
    "DispositivoId" integer,
    "Periodo" integer NOT NULL,
    "InicioPeriodo" timestamp with time zone NOT NULL,
    "LitrosTotal" double precision NOT NULL,
    "LitrosPorEstudiante" double precision,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.consumos_agregados OWNER TO admin;

--
-- Name: consumos_agregados_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.consumos_agregados ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."consumos_agregados_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: departamentos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.departamentos (
    id_departamento integer NOT NULL,
    nombre character varying(80) NOT NULL,
    codigo_ubigeo character varying(2) NOT NULL,
    estado character varying(20) DEFAULT 'activo'::character varying NOT NULL,
    CONSTRAINT "CK_departamentos_estado" CHECK (((estado)::text = ANY ((ARRAY['activo'::character varying, 'inactivo'::character varying])::text[])))
);


ALTER TABLE public.departamentos OWNER TO admin;

--
-- Name: departamentos_id_departamento_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.departamentos ALTER COLUMN id_departamento ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.departamentos_id_departamento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dispositivos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dispositivos (
    "Id" integer NOT NULL,
    "ColegioId" integer NOT NULL,
    "EspacioId" integer,
    "AulaId" integer,
    "Tipo" integer NOT NULL,
    "EtiquetaUbicacion" text NOT NULL,
    "NumeroSerie" text,
    "Estado" text NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.dispositivos OWNER TO admin;

--
-- Name: dispositivos_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.dispositivos ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."dispositivos_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: distritos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.distritos (
    id_distrito integer NOT NULL,
    provincia_id integer NOT NULL,
    nombre character varying(80) NOT NULL,
    codigo_ubigeo character varying(6) NOT NULL,
    estado character varying(20) DEFAULT 'activo'::character varying NOT NULL,
    CONSTRAINT "CK_distritos_estado" CHECK (((estado)::text = ANY ((ARRAY['activo'::character varying, 'inactivo'::character varying])::text[])))
);


ALTER TABLE public.distritos OWNER TO admin;

--
-- Name: distritos_id_distrito_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.distritos ALTER COLUMN id_distrito ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.distritos_id_distrito_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: espacios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.espacios (
    "Id" integer NOT NULL,
    "ColegioId" integer NOT NULL,
    "AulaId" integer,
    "Tipo" integer NOT NULL,
    "Etiqueta" text NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.espacios OWNER TO admin;

--
-- Name: espacios_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.espacios ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."espacios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: eventos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.eventos (
    "Id" integer NOT NULL,
    "Tipo" integer NOT NULL,
    "ColegioId" integer NOT NULL,
    "AulaId" integer,
    "UsuarioId" integer,
    "Payload" text NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.eventos OWNER TO admin;

--
-- Name: eventos_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.eventos ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."eventos_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inscripciones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.inscripciones (
    "Id" integer NOT NULL,
    "AulaId" integer NOT NULL,
    "EstudianteId" integer NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.inscripciones OWNER TO admin;

--
-- Name: inscripciones_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.inscripciones ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."inscripciones_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: insignias; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.insignias (
    "Id" integer NOT NULL,
    "Codigo" text NOT NULL,
    "Nombre" text NOT NULL,
    "Descripcion" text,
    "IconoUrl" text,
    "RequiereValidacion" boolean NOT NULL
);


ALTER TABLE public.insignias OWNER TO admin;

--
-- Name: insignias_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.insignias ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."insignias_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: insignias_usuario; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.insignias_usuario (
    "Id" integer NOT NULL,
    "UsuarioId" integer NOT NULL,
    "InsigniaId" integer NOT NULL,
    "OtorgadaEn" timestamp with time zone,
    "ValidadaPor" integer,
    "Estado" text NOT NULL
);


ALTER TABLE public.insignias_usuario OWNER TO admin;

--
-- Name: insignias_usuario_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.insignias_usuario ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."insignias_usuario_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: intentos_respuestas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.intentos_respuestas (
    "Id" integer NOT NULL,
    "SesionId" integer NOT NULL,
    "UsuarioId" integer NOT NULL,
    "PreguntaId" integer NOT NULL,
    "Respuesta" text NOT NULL,
    "Correcta" boolean NOT NULL,
    "Puntos" integer NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.intentos_respuestas OWNER TO admin;

--
-- Name: intentos_respuestas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.intentos_respuestas ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."intentos_respuestas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: perfil_estudiante_aggs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.perfil_estudiante_aggs (
    "Id" integer NOT NULL,
    "UsuarioId" integer NOT NULL,
    "MonedasTotal" integer NOT NULL,
    "LitrosAhorradosTotal" double precision NOT NULL,
    "JuegosCompletados" integer NOT NULL,
    "NivelActual" text NOT NULL,
    "SiguienteUmbral" integer NOT NULL,
    "ProgresoMonedas" integer NOT NULL,
    "UltimaActualizacion" timestamp with time zone NOT NULL
);


ALTER TABLE public.perfil_estudiante_aggs OWNER TO admin;

--
-- Name: perfil_estudiante_aggs_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.perfil_estudiante_aggs ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."perfil_estudiante_aggs_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: plantillas_retos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.plantillas_retos (
    "Id" integer NOT NULL,
    "Alcance" text NOT NULL,
    "Codigo" text NOT NULL,
    "Nombre" text NOT NULL,
    "Descripcion" text,
    "TipoObjetivo" text NOT NULL,
    "ParametrosDefault" text NOT NULL,
    "ParametrosRango" text NOT NULL,
    "InsigniaId" integer,
    "PuntosRecompensa" integer NOT NULL,
    "Activa" boolean NOT NULL
);


ALTER TABLE public.plantillas_retos OWNER TO admin;

--
-- Name: plantillas_retos_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.plantillas_retos ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."plantillas_retos_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.preguntas (
    "Id" integer NOT NULL,
    "Texto" text NOT NULL,
    "Tipo" integer NOT NULL,
    "Opciones" text NOT NULL,
    "RespuestaCorrecta" text NOT NULL,
    "Categoria" text,
    "Dificultad" text,
    "Activa" boolean NOT NULL,
    "CreadorId" integer,
    "ColegioId" integer,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.preguntas OWNER TO admin;

--
-- Name: preguntas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.preguntas ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."preguntas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: provincias; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.provincias (
    id_provincia integer NOT NULL,
    departamento_id integer NOT NULL,
    nombre character varying(80) NOT NULL,
    codigo_ubigeo character varying(4) NOT NULL,
    estado character varying(20) DEFAULT 'activo'::character varying NOT NULL,
    CONSTRAINT "CK_provincias_estado" CHECK (((estado)::text = ANY ((ARRAY['activo'::character varying, 'inactivo'::character varying])::text[])))
);


ALTER TABLE public.provincias OWNER TO admin;

--
-- Name: provincias_id_provincia_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.provincias ALTER COLUMN id_provincia ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.provincias_id_provincia_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: puntos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.puntos (
    "Id" integer NOT NULL,
    "ColegioId" integer NOT NULL,
    "AulaId" integer NOT NULL,
    "UsuarioId" integer,
    "Valor" integer NOT NULL,
    "Motivo" text NOT NULL,
    "EventoOrigenId" integer,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.puntos OWNER TO admin;

--
-- Name: puntos_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.puntos ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."puntos_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: recuperacion_tokens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.recuperacion_tokens (
    "Id" integer NOT NULL,
    "UsuarioId" integer NOT NULL,
    "Token" text NOT NULL,
    "ExpiraEn" timestamp with time zone NOT NULL,
    "Usado" boolean NOT NULL
);


ALTER TABLE public.recuperacion_tokens OWNER TO admin;

--
-- Name: recuperacion_tokens_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.recuperacion_tokens ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."recuperacion_tokens_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: retos_aula; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.retos_aula (
    "Id" integer NOT NULL,
    "PlantillaId" integer NOT NULL,
    "AulaId" integer NOT NULL,
    "CreadoPor" integer,
    "FechaInicio" timestamp with time zone NOT NULL,
    "FechaFin" timestamp with time zone NOT NULL,
    "Parametros" text NOT NULL,
    "Estado" integer NOT NULL
);


ALTER TABLE public.retos_aula OWNER TO admin;

--
-- Name: retos_aula_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.retos_aula ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."retos_aula_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sesiones_preguntas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sesiones_preguntas (
    "Id" integer NOT NULL,
    "SesionId" integer NOT NULL,
    "PreguntaId" integer NOT NULL,
    "Orden" integer NOT NULL
);


ALTER TABLE public.sesiones_preguntas OWNER TO admin;

--
-- Name: sesiones_preguntas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.sesiones_preguntas ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."sesiones_preguntas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sesiones_trivia; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sesiones_trivia (
    "Id" integer NOT NULL,
    "AulaId" integer NOT NULL,
    "CreadorId" integer NOT NULL,
    "Estado" text NOT NULL,
    "Config" text NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.sesiones_trivia OWNER TO admin;

--
-- Name: sesiones_trivia_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.sesiones_trivia ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."sesiones_trivia_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.usuarios (
    "Id" integer NOT NULL,
    "ColegioId" integer,
    "Rol" integer NOT NULL,
    "Nombre" text NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Estado" text NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


ALTER TABLE public.usuarios OWNER TO admin;

--
-- Name: usuarios_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.usuarios ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."usuarios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20251114051410_Inicial	8.0.6
20251114062930_ColegioSchemaUpgrade	8.0.6
20251114064731_UbigeoNormalization	8.0.6
20251114120729_PerfilEstudianteAggs	8.0.6
20251114122855_BancoPreguntas	8.0.6
20251114130340_TriviaSchema	8.0.6
\.


--
-- Data for Name: aulas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.aulas ("Id", "ColegioId", "Nombre", "Grado", "ProfesorId", "CreadoEn") FROM stdin;
1	1	A	2┬░	3	2025-11-14 10:22:19.214036+00
2	2	Aula 6A	\N	\N	2025-11-14 13:06:13.615757+00
\.


--
-- Data for Name: bancos_preguntas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.bancos_preguntas ("Id", "Nombre", "Alcance", "ColegioId", "CreadorId", "Activo", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: bancos_preguntas_items; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.bancos_preguntas_items ("Id", "BancoId", "PreguntaId") FROM stdin;
\.


--
-- Data for Name: colegios; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.colegios (id_colegio, nombre_ie, distrito, email_institucional, fecha_registro, codigo_local, direccion, estado, nivel, telefono, direccion_exacta, distrito_id) FROM stdin;
1	 42003 CORONEL GREGORIO ALBARRACI	TACNA	renzoantayhua7@gmail.com	2025-11-14 08:28:31.550156+00	\N	\N	activo	primaria	\N	\N	1833
2	IE Prueba	Lima	\N	2025-11-14 13:05:59.951971+00	\N	\N	activo	primaria	\N	\N	\N
\.


--
-- Data for Name: consumos_agregados; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.consumos_agregados ("Id", "ColegioId", "AulaId", "EspacioId", "DispositivoId", "Periodo", "InicioPeriodo", "LitrosTotal", "LitrosPorEstudiante", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: departamentos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: dispositivos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.dispositivos ("Id", "ColegioId", "EspacioId", "AulaId", "Tipo", "EtiquetaUbicacion", "NumeroSerie", "Estado", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: distritos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: espacios; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.espacios ("Id", "ColegioId", "AulaId", "Tipo", "Etiqueta", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: eventos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.eventos ("Id", "Tipo", "ColegioId", "AulaId", "UsuarioId", "Payload", "CreadoEn") FROM stdin;
1	4	1	1	4	{"estado":"aprobada"}	2025-11-14 11:20:34.817372+00
\.


--
-- Data for Name: inscripciones; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.inscripciones ("Id", "AulaId", "EstudianteId", "CreadoEn") FROM stdin;
2	1	4	2025-11-14 11:30:22.611458+00
\.


--
-- Data for Name: insignias; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.insignias ("Id", "Codigo", "Nombre", "Descripcion", "IconoUrl", "RequiereValidacion") FROM stdin;
\.


--
-- Data for Name: insignias_usuario; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.insignias_usuario ("Id", "UsuarioId", "InsigniaId", "OtorgadaEn", "ValidadaPor", "Estado") FROM stdin;
\.


--
-- Data for Name: intentos_respuestas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.intentos_respuestas ("Id", "SesionId", "UsuarioId", "PreguntaId", "Respuesta", "Correcta", "Puntos", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: perfil_estudiante_aggs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.perfil_estudiante_aggs ("Id", "UsuarioId", "MonedasTotal", "LitrosAhorradosTotal", "JuegosCompletados", "NivelActual", "SiguienteUmbral", "ProgresoMonedas", "UltimaActualizacion") FROM stdin;
\.


--
-- Data for Name: plantillas_retos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: preguntas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.preguntas ("Id", "Texto", "Tipo", "Opciones", "RespuestaCorrecta", "Categoria", "Dificultad", "Activa", "CreadorId", "ColegioId", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: provincias; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: puntos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.puntos ("Id", "ColegioId", "AulaId", "UsuarioId", "Valor", "Motivo", "EventoOrigenId", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: recuperacion_tokens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.recuperacion_tokens ("Id", "UsuarioId", "Token", "ExpiraEn", "Usado") FROM stdin;
\.


--
-- Data for Name: retos_aula; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.retos_aula ("Id", "PlantillaId", "AulaId", "CreadoPor", "FechaInicio", "FechaFin", "Parametros", "Estado") FROM stdin;
\.


--
-- Data for Name: sesiones_preguntas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sesiones_preguntas ("Id", "SesionId", "PreguntaId", "Orden") FROM stdin;
\.


--
-- Data for Name: sesiones_trivia; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sesiones_trivia ("Id", "AulaId", "CreadorId", "Estado", "Config", "CreadoEn") FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: aulas_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."aulas_Id_seq"', 2, true);


--
-- Name: bancos_preguntas_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."bancos_preguntas_Id_seq"', 1, false);


--
-- Name: bancos_preguntas_items_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."bancos_preguntas_items_Id_seq"', 1, false);


--
-- Name: colegios_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."colegios_Id_seq"', 2, true);


--
-- Name: consumos_agregados_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."consumos_agregados_Id_seq"', 1, false);


--
-- Name: departamentos_id_departamento_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.departamentos_id_departamento_seq', 25, true);


--
-- Name: dispositivos_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."dispositivos_Id_seq"', 1, false);


--
-- Name: distritos_id_distrito_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.distritos_id_distrito_seq', 1892, true);


--
-- Name: espacios_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."espacios_Id_seq"', 1, false);


--
-- Name: eventos_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."eventos_Id_seq"', 1, true);


--
-- Name: inscripciones_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."inscripciones_Id_seq"', 2, true);


--
-- Name: insignias_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."insignias_Id_seq"', 1, false);


--
-- Name: insignias_usuario_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."insignias_usuario_Id_seq"', 1, false);


--
-- Name: intentos_respuestas_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."intentos_respuestas_Id_seq"', 1, false);


--
-- Name: perfil_estudiante_aggs_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."perfil_estudiante_aggs_Id_seq"', 1, false);


--
-- Name: plantillas_retos_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."plantillas_retos_Id_seq"', 4, true);


--
-- Name: preguntas_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."preguntas_Id_seq"', 2, true);


--
-- Name: provincias_id_provincia_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.provincias_id_provincia_seq', 196, true);


--
-- Name: puntos_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."puntos_Id_seq"', 1, false);


--
-- Name: recuperacion_tokens_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."recuperacion_tokens_Id_seq"', 1, false);


--
-- Name: retos_aula_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."retos_aula_Id_seq"', 1, true);


--
-- Name: sesiones_preguntas_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."sesiones_preguntas_Id_seq"', 1, false);


--
-- Name: sesiones_trivia_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."sesiones_trivia_Id_seq"', 1, false);


--
-- Name: usuarios_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."usuarios_Id_seq"', 5, true);


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: aulas PK_aulas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.aulas
    ADD CONSTRAINT "PK_aulas" PRIMARY KEY ("Id");


--
-- Name: bancos_preguntas PK_bancos_preguntas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.bancos_preguntas
    ADD CONSTRAINT "PK_bancos_preguntas" PRIMARY KEY ("Id");


--
-- Name: bancos_preguntas_items PK_bancos_preguntas_items; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.bancos_preguntas_items
    ADD CONSTRAINT "PK_bancos_preguntas_items" PRIMARY KEY ("Id");


--
-- Name: colegios PK_colegios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.colegios
    ADD CONSTRAINT "PK_colegios" PRIMARY KEY (id_colegio);


--
-- Name: consumos_agregados PK_consumos_agregados; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.consumos_agregados
    ADD CONSTRAINT "PK_consumos_agregados" PRIMARY KEY ("Id");


--
-- Name: departamentos PK_departamentos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.departamentos
    ADD CONSTRAINT "PK_departamentos" PRIMARY KEY (id_departamento);


--
-- Name: dispositivos PK_dispositivos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dispositivos
    ADD CONSTRAINT "PK_dispositivos" PRIMARY KEY ("Id");


--
-- Name: distritos PK_distritos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.distritos
    ADD CONSTRAINT "PK_distritos" PRIMARY KEY (id_distrito);


--
-- Name: espacios PK_espacios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.espacios
    ADD CONSTRAINT "PK_espacios" PRIMARY KEY ("Id");


--
-- Name: eventos PK_eventos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.eventos
    ADD CONSTRAINT "PK_eventos" PRIMARY KEY ("Id");


--
-- Name: inscripciones PK_inscripciones; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inscripciones
    ADD CONSTRAINT "PK_inscripciones" PRIMARY KEY ("Id");


--
-- Name: insignias PK_insignias; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.insignias
    ADD CONSTRAINT "PK_insignias" PRIMARY KEY ("Id");


--
-- Name: insignias_usuario PK_insignias_usuario; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.insignias_usuario
    ADD CONSTRAINT "PK_insignias_usuario" PRIMARY KEY ("Id");


--
-- Name: intentos_respuestas PK_intentos_respuestas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.intentos_respuestas
    ADD CONSTRAINT "PK_intentos_respuestas" PRIMARY KEY ("Id");


--
-- Name: perfil_estudiante_aggs PK_perfil_estudiante_aggs; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.perfil_estudiante_aggs
    ADD CONSTRAINT "PK_perfil_estudiante_aggs" PRIMARY KEY ("Id");


--
-- Name: plantillas_retos PK_plantillas_retos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.plantillas_retos
    ADD CONSTRAINT "PK_plantillas_retos" PRIMARY KEY ("Id");


--
-- Name: preguntas PK_preguntas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.preguntas
    ADD CONSTRAINT "PK_preguntas" PRIMARY KEY ("Id");


--
-- Name: provincias PK_provincias; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provincias
    ADD CONSTRAINT "PK_provincias" PRIMARY KEY (id_provincia);


--
-- Name: puntos PK_puntos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.puntos
    ADD CONSTRAINT "PK_puntos" PRIMARY KEY ("Id");


--
-- Name: recuperacion_tokens PK_recuperacion_tokens; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recuperacion_tokens
    ADD CONSTRAINT "PK_recuperacion_tokens" PRIMARY KEY ("Id");


--
-- Name: retos_aula PK_retos_aula; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.retos_aula
    ADD CONSTRAINT "PK_retos_aula" PRIMARY KEY ("Id");


--
-- Name: sesiones_preguntas PK_sesiones_preguntas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sesiones_preguntas
    ADD CONSTRAINT "PK_sesiones_preguntas" PRIMARY KEY ("Id");


--
-- Name: sesiones_trivia PK_sesiones_trivia; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sesiones_trivia
    ADD CONSTRAINT "PK_sesiones_trivia" PRIMARY KEY ("Id");


--
-- Name: usuarios PK_usuarios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT "PK_usuarios" PRIMARY KEY ("Id");


--
-- Name: IX_bancos_preguntas_items_BancoId_PreguntaId; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_bancos_preguntas_items_BancoId_PreguntaId" ON public.bancos_preguntas_items USING btree ("BancoId", "PreguntaId");


--
-- Name: IX_colegios_codigo_local; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_colegios_codigo_local" ON public.colegios USING btree (codigo_local);


--
-- Name: IX_colegios_distrito; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_colegios_distrito" ON public.colegios USING btree (distrito);


--
-- Name: IX_colegios_distrito_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_colegios_distrito_id" ON public.colegios USING btree (distrito_id);


--
-- Name: IX_departamentos_codigo_ubigeo; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_departamentos_codigo_ubigeo" ON public.departamentos USING btree (codigo_ubigeo);


--
-- Name: IX_departamentos_nombre; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_departamentos_nombre" ON public.departamentos USING btree (nombre);


--
-- Name: IX_distritos_codigo_ubigeo; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_distritos_codigo_ubigeo" ON public.distritos USING btree (codigo_ubigeo);


--
-- Name: IX_distritos_provincia_id_nombre; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_distritos_provincia_id_nombre" ON public.distritos USING btree (provincia_id, nombre);


--
-- Name: IX_eventos_UsuarioId_Tipo_CreadoEn; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_eventos_UsuarioId_Tipo_CreadoEn" ON public.eventos USING btree ("UsuarioId", "Tipo", "CreadoEn");


--
-- Name: IX_perfil_estudiante_aggs_UsuarioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_perfil_estudiante_aggs_UsuarioId" ON public.perfil_estudiante_aggs USING btree ("UsuarioId");


--
-- Name: IX_preguntas_Tipo_Categoria_Dificultad_Activa; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_preguntas_Tipo_Categoria_Dificultad_Activa" ON public.preguntas USING btree ("Tipo", "Categoria", "Dificultad", "Activa");


--
-- Name: IX_provincias_codigo_ubigeo; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_provincias_codigo_ubigeo" ON public.provincias USING btree (codigo_ubigeo);


--
-- Name: IX_provincias_departamento_id_nombre; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_provincias_departamento_id_nombre" ON public.provincias USING btree (departamento_id, nombre);


--
-- Name: IX_puntos_UsuarioId_CreadoEn; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_puntos_UsuarioId_CreadoEn" ON public.puntos USING btree ("UsuarioId", "CreadoEn");


--
-- Name: IX_sesiones_preguntas_SesionId_Orden; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_sesiones_preguntas_SesionId_Orden" ON public.sesiones_preguntas USING btree ("SesionId", "Orden");


--
-- Name: IX_usuarios_Email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_usuarios_Email" ON public.usuarios USING btree ("Email");


--
-- Name: colegios FK_colegios_distritos_distrito_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.colegios
    ADD CONSTRAINT "FK_colegios_distritos_distrito_id" FOREIGN KEY (distrito_id) REFERENCES public.distritos(id_distrito) ON DELETE RESTRICT;


--
-- Name: distritos FK_distritos_provincias_provincia_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.distritos
    ADD CONSTRAINT "FK_distritos_provincias_provincia_id" FOREIGN KEY (provincia_id) REFERENCES public.provincias(id_provincia) ON DELETE RESTRICT;


--
-- Name: provincias FK_provincias_departamentos_departamento_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provincias
    ADD CONSTRAINT "FK_provincias_departamentos_departamento_id" FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id_departamento) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict AedlXQJeIn1mBIwKKU20pFBb8XM34ERbP884BrzlaZpURdtmNbBws6gyLNrWoHK

